/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Highlights (must be seperate, combining them breaks the style) */
::selection { /* Safari */
    background: #D1AC4C;
    color: white;
}
::-moz-selection { /* Firefox */
    background: #D1AC4C;
    color: white;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Font Families (input and textarea explicitly included to fix Windows issues) */
html, input, textarea {
    /* Font rendering in OS X Firefox is TERRIBLE. This makes the browser tolerable */
    -moz-osx-font-smoothing: grayscale;
    /* Default text rendering in WebKit is *way* too heavy, in my opinion. This thins
       the text a bit and makes it more crisp and pleasing to read. */
    -webkit-font-smoothing: antialiased;
}
html {
  font-size: 45%;
}
input, textarea {
    /* Better experience for user while entering text */
    letter-spacing: 1px;
}
h1.section-heading {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.25em;
}
h4.section-description {
  font-weight: 600;
  letter-spacing: 0.1em;
}
.right-align {
  text-align: right;
  margin: 0 auto;
}
.show-when-large {
  display: block;
  margin-left: -50px;
}
.eight.columns {
  margin-left: -9vw;
  margin-top: 0.5em;
}
.image-text-shadow {
  text-shadow: 2px 2px 4px #000000;
}
.writing p {
  text-align: left;
  font-size: 1.8rem;
  line-height: 1.9;
}
.writing {
  max-width: 829px;
  text-align: center;
  margin: 0 auto;
}
.writing h4 {
  text-align: left;
  font-weight: 600;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.writing .section-description {
  font-style: italic;
  margin-bottom: 4rem;
  color: #D1AC4C;
}
.writing img {
  margin-bottom: 2.5rem;
  width: 100%;
  border-radius: 1em;
}
.row .writing {
  margin-bottom: 4rem;
}
.when-where h4, .hotel h4 {
  font-weight: 600;
}
.when-where h1, .hotel h4 {
  margin-bottom: 2.5rem;
}
.hotel .column {
  text-align: left;
}
.hotel h4 {
  text-align: center;
}
td:nth-last-child(1) {
  text-align: right;
}
a {
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}
a, a:link, a:visited {
  color: #D1AC4C;
}
a:hover {
  color: #E7B73C;
}
.when-where .one-half {
  /*border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2.5em;
  border-radius: 1em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  background-color: #5F6C79;*/

  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2.5em;
  border-radius: 1em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  background-color: RGBA(244,246,247,0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.writing img {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
}
.hotel .one-half {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2.5em;
  border-radius: 1em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  background-color: RGBA(244,246,247,0.9);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.when-where h1, .hotel h1 {
  margin-bottom: 4rem;
}
.row .writing {
  margin-top: 5rem;
}
iframe {
  border: 0;
  border-radius: 1em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
}
form {
  color: #222222;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 2.5em;
  border-radius: 1em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  background-color: RGBA(244,246,247,0.9);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
#not-attend {
  display: none;
  margin-top: 1rem;
}
textarea {
  max-width: 100%;
  min-height:10em;
}
input:disabled,
textarea:disabled {
    background: #dddddd;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: #D1AC4C;
  border-color: #D1AC4C;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: #E7B73C;
  border-color: #E7B73C;
}
input[type="email"]:focus,
input[type="name"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #E7B73C;
  outline: 0;
}
input[type=submit][disabled=disabled],
button[disabled], html input[disabled],
input:disabled, textarea:disabled {
  background-color: #aaaaaa !important;
  border-color: #aaaaaa !important;
}
path {
  fill: #1da1f2;
  -webkit-transition: fill .2s linear;
  -moz-transition: fill .2s linear;
  -ms-transition: fill .2s linear;
  -o-transition: fill .2s linear;
  transition: fill .2s linear;
}
path:hover {
  fill: #00CBFF;
}
.one-half.column {
  margin-top:2rem;
  margin-bottom:2rem;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  padding-bottom: 5rem;
}
#main-picture {
  background-image: url('../../images/proposal.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}
#secondary-picture {
  background-image: url('../../images/fireworks.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Our Story
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.our-story {
  border-bottom: 1px solid #ddd;
}

/* When & Where
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.when-where {
  /*background-image: url('../../images/values-bg.jpg');*/
  background: #34454E; /* Old browsers */
  background: -moz-linear-gradient(top, #34454E 0%, #2B3941 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #34454E 0%,#2B3941 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #34454E 0%,#2B3941 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34454E', endColorstr='#2B3941',GradientType=0 ); /* IE6-9 */
  background-size: cover;
  color: #fff;
}
.when-where .section-description, .hotel .section-description { 
  margin-bottom: 4rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  html {
    font-size: 62.5%; }
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
  .eight.columns {
    margin-left: 3vw;
    min-width: 80%;
    margin-top: 0;
    padding-bottom:100px;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .when-where, .hotel {
    padding: 15rem 0 8rem;
  }
  .six.columns {
    width: 65.3333333333%;
  }
  .offset-by-three.columns {
    margin-left: 17.3333333333%;
  }
  .one-half.column {
    margin-top:0;
    margin-bottom:0;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  #main-picture.section {
    padding: 20rem 0 19rem;
  }
  .section {
    padding: 10rem 0 9rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
  #splash-image h1 {
    font-size: 4em;
  }
  #splash-image h4 {
    font-size: 2.5em;
  }
  .six.columns {
    width: 48%;
  }
  .offset-by-three.columns {
    margin-left: 26%;
  }
}
@media (min-width: 1050px) {
  .show-when-large {
    display: none;
    padding-right: 0;
  }
  .eight.columns {
    margin-left: 0;
  }
  #splash-image {
    margin-left: -3em;
  }
}